<%page expression_filter="h"/>
<%!
    import json
    from django.utils.translation import gettext as _
    from common.djangolib.js_utils import dump_js_escaped_json
%>
<%namespace name='static' file="../static_content.html"/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Register")}</%block>

<%block name="js_extra">
</%block>
<div class="section-bkg-wrapper">
    <main id="main" aria-label="Content" tabindex="-1">
        <div id="content-container" class="login-register-content">
            
        </div>
    </main>
</div>