<%page expression_filter="h"/>

<%namespace name='static' file="static_content.html"/>

<%!
from django.conf import settings
from django.urls import reverse
from urllib.parse import quote_plus
from django.utils.translation import gettext as _
from common.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
%>

<!DOCTYPE html>
<!--[if lte IE 9]><html class="ie ie9 lte9" lang="${settings.LANGUAGE_CODE}"><![endif]-->
<!--[if !IE]><!--><html lang="${settings.LANGUAGE_CODE}"><!--<![endif]-->
<head dir="${static.dir_rtl()}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<%def name="pagetitle()" />
  <%block name="title">
      <title>
        ${static.get_page_title_breadcrumbs(self.pagetitle())}
      </title>
  </%block>

  <link rel="icon" type="image/x-icon" href=""/>

  <%block name="header_meta"/>
  <script type="text/javascript" src="${static.url('js/jquery.min.js')}"></script>
  <script type="text/javascript" src="${static.url('js/js.cookie.min.js')}"></script>

  <script type="text/javascript" src="${static.url('js/bootstrap/bootstrap.min.js')}"></script>
  <script type="text/javascript" src="${static.url('js/validate.min.js')}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"></script>
  
  <script>
    window.baseUrl = "${settings.STATIC_URL | n, js_escaped_string}";
    (function (require) {
      require.config({
          baseUrl: window.baseUrl,
          paths: {
            jquery: 'js/jquery.min'
          }
      });
    }).call(this, require || RequireJS.require);
  </script>

  <!-- FAVICON -->
  <link rel="icon" href="${static.url('images/brand-logos/favicon.ico')}" type="image/x-icon">

  <link rel="stylesheet" href="${static.url('css/bootstrap/bootstrap.min.css')}" type="text/css" media="all" />
  <!-- ICONS CSS -->
  <link href="${static.url('icon-fonts/icons.css')}" rel="stylesheet">
  <!-- APP CSS -->
  <link rel="stylesheet" href="${static.url('css/app.css')}" type="text/css" media="all" />
  <%block name="headextra"/>
  <%block name="head_extra"/>

  <meta name="path_prefix" content="${settings.MDM_ROOT_URL}">

</head>

<body class="${static.dir_rtl()}<%block name='bodyclass'/> lang_${settings.LANGUAGE_CODE}">

    <div class="content-wrapper main-container" id="content" dir="${static.dir_rtl()}">
        ${next.body()}
        <%block name="bodyextra"/>
    </div>

    
    
    <%block name="js_extra"/>

</body>
</html>

<%def name="login_query()">${
    u"?next={next}".format(
      next=quote_plus(login_redirect_url if login_redirect_url else request.path)
    ) if (login_redirect_url or (request and not request.path.startswith("/logout"))) else ""
  }</%def>